{{sidebar-avatar}}
<ul>
  <li>
    <a href="">Reports</a>
  </li>
  <li>
    <a href="#">Trips</a>
  </li>
  <li>
    <a href="#">Followers</a>
  </li>
  <li>
    <a href="#">Followed</a>
  </li>
</ul>
