{{sidebar-avatar}}
<ul>
  <li>
    {{#link-to 'trips' }}Trips{{/link-to}}
  </li>
  <li>
    {{#link-to 'reports'}}Reports{{/link-to}}
  </li>
  <li>
    <a href="#">Followers</a>
  </li>
  <li>
    <a href="#">Followed</a>
  </li>
</ul>
