* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, .wrapper {
  height: 100%;
}

.header {
  background: #59ABE3;
  height: 60pt;
}

.header .logo {
  padding: 20pt 10pt;
  color: #fff;
  float: left;
}
.sidebar {
  float: left;
  width: 20%;
  background: #86E2D5;
  min-height: 500px;
}

.sidebar ul {

}

.sidebar a {
  color: #22313F;
  text-decoration: none;
  padding: 10pt 20pt;
  display: block;
}

.sidebar a:hover {
  background: lightblue;
  color: #fff;
}

.content {
  float: right;
  width: 80%;
}

.sidebar-avatar {
  margin-bottom: 20pt;
  margin: 20pt;
  text-align: center;
}

.sidebar-avatar img {
  height: 100pt;
  width: 100pt;
  border-radius: 50pt;
  margin-bottom: 20pt;
}

.sidebar-avatar .name {
  color: #fff;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20pt;
}

.ember-text-field {
  width: 200pt;
  height: 30pt;
  font-size: 16pt;
  border-radius: 8pt;
  border: 1px solid #eee;
  padding: 0 10pt;
}

.ember-text-field:focus {
  border: 1px solid lightblue;
}

.page {
  padding: 15pt;
}

.page h2 {
  font-weight: normal;
  color: #86E2D5;
  padding-bottom: 20pt;
}

button {
  background:  #86E2D5;
  color: #fff;
  height: 30pt;
  width: 100pt;
  border-radius: 10pt;
  border: none;
  font-size: 16pt;
  cursor: pointer;
}


.login {
  width: 400pt;
  padding-top: 60pt;
  margin: 0 auto;
}

.message {
  padding: 20pt;
  background: lightblue;
  position: absolute;
  width: 100%;
  color: #fff;
}
