<div class="wrapper">
  <header class="header">
    <div class="logo">
      <h2>Tour social</h2>
    </div>
  </header>
  <div class="main">
    <div class="sidebar">
      {{app-sidebar}}
    </div>
    <div class="content">{{outlet}}</div>
  </div>
  <footer>
  </footer>
</div>
